:root{
  --background-color: #1A1A1A;
  --second-background-color: #333333;
  --menu-main-text-color: white;
  --menu-second-text-color: #ADADAD;
  --message-background-root-color: white;
  --message-background-user-color: #D9D9D9;
}